.container-bar{
    width: 100%;
    max-width: 55px;
    position: fixed;
    left:0 ;
    top: 28%;
}
.container-bar a{
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  transition: all 500ms ease;
  color: white;
}
.container-bar a:hover{
  background: #1c1c1c;

}

.container-bar .icon-twitter{
background: #00acee;
border-radius: 0px 0px 5px 0px ;


}
.container-bar .icon-youtube{
background: #e52a23;

}
.container-bar .icon-instagram{
background:#e45675;

}
.container-bar .icon-whatsapp{
background:#25D366;
border-radius: 0px 5px 0px 5px ;
}
.container-bar #titlespam{
position: fixed;
background: #1c1c1c;
padding: 6px;
border-radius: 3px;
font-size: 15px;
margin-top: -4px;
transition: all 500ms ease;
opacity: 0;
visibility: hidden;
}
.container-bar #titlespam::after{
position: absolute;
content: '';
border-left: 7px solid transparent;
border-right: 6px solid #1c1c1c;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
right: 100%;
top: 8px;

}
.container-bar a:hover #titlespam{
opacity:1;
visibility: visible;
margin-left:30px ;

}